.idea
*.iml
target

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.key

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
propelr-agent/dependency-reduced-pom.xml

.pmd
tree.txt

# Build scripts
**/build-helpers
**/cfn-deployment-scripts